* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
  user-select: none;
  overflow: hidden;
}

h1 {
  color: midnightblue;
}

.centered {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100vw;
  z-index: 1;
}

#output-text {
  top: 40vh;
  color: forestgreen;
}

.box {
  position: absolute;
  bottom: 10vw;
  left: 10vw;
  background-color: crimson;
  height: 10vh;
  width: 10vw;
  z-index: 0;
}
